@import url('./__container/comments__container.css');
@import url('./__container/__comment/comments__comment.css');
@import url('./__container/__comment/__author/comments__author.css');
@import url('./__container/__comment/__image/comments__image.css');
@import url('./__container/__comment/__quote/comments__quote.css');




.comments {
    max-width: 1184px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 0px 0px;
}

@media (max-width: 425px) {
    .comments {
        max-width: 425px;
        width: 100%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .comments {
        max-width: 768px;
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .comments {
        max-width: 1024px;
        width: 90%;
    }
}