@import url('./__url-heading/places__url-heading.css');
@import url('./__url/places__url.css');

.places__website {
    width: 46%;
    margin: 0px 0px 0px 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (max-width: 425px) {
    .places__website {
        display: none;
    }
}