@import url('./__item/photo-grid__item.css');

.photo-grid {
    max-width: 1184px;
    width: 90%;
    margin: 92px 0px 0px 0px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 4fr);
}


@media (max-width: 425px) {
    .photo-grid {
        max-width: 425px;
        width: 90%;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .photo-grid {
        max-width: 768px;
        width: 90%;
        grid-template-columns: repeat(2, 2fr);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .photo-grid {
        max-width: 1024px;
        width: 90%;
        grid-template-columns: repeat(3, 3fr);
    }
}