.barentsburg__link {
    width: 53%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;                                          
    margin: 48px 0px 0px 32px;
}

/* Проблема с установкой .barentsburg__link  под .barentsburg__url-heading */