.additional__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    left: 18px;
    bottom: 30px;
    margin: 0px;
    width: 87%;
    z-index: 2;
}