.lead__title {
    max-width: 782px;
    width: 100%;
    font-size: 96px;
    font-weight: 900;
    line-height: 93px;
    margin: 50px auto 0px auto;
    text-align: center;
}

@media (max-width: 425px) {
    .lead__title {
        max-width: 425px;
        width: 90%;
        font-size: 40px;
        line-height: 44px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .lead__title {
        max-width: 768px;
        width: 90%;
        font-size: 3.5em;
        line-height: 1.1;
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .lead__title {
        max-width: 1024px;
        width: 60%;
        font-size: 4em;
        line-height: 1.1;
        text-align: center;
    }
}