.video__title {
    max-width: 322px;
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
    margin: 12px 0px 18px 0px;
}

@media (max-width: 425px) {
    .video__title {
        font-size: 24px;
        line-height: 26px;
        margin: 0px 0px 2% 0px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .video__title {
        font-size: 1em;
        line-height: 1.1;
        margin: 0px 0px 2% 0px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .video__title {
        margin: 0px 0px 0px 0px;
    }
}
