.comments__image {
    margin: 0px;
    border-radius: 50%;
}

@media (max-width: 425px) {
    .comments__image {
        margin: 0px auto 0px auto;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .comments__image {
        margin: 0px auto 0px auto;
    }
}