@import url('./__title/intro__title.css');
@import url('./__subtitle/intro__subtitle.css');
@import url('./__content-row/intro__content-row.css');
@import url('./__content-row/__text-author/intro__text-author.css');
@import url('./__content-row/__text-main/intro__text-main.css');
@import url('./__text-numbers/intro__text-numbers.css');
@import url('./__text-numbers/__bold/bold.css');
@import url('./__item/intro__item.css');


.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1184px;
    width: 68.3%;
    margin-top: 80px;
}


@media (max-width: 425px) {
    .intro {
        max-width: 425px;
        width: 90%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .intro {
        max-width: 768px;
        width: 90%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .intro {
        max-width: 1024px;
        width: 90%;
    }
}