.lead__cities {
    position: absolute;
    z-index: 2;
    bottom: 22%;
    margin: 0px auto 0px auto;
    width: 95%;
}


@media (max-width: 425px) {
    .lead__cities {
        max-width: 425px;
        width: 95%;
        position: absolute;
        z-index: 2;
        bottom: 18%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .lead__cities {
        max-width: 768px;
        width: 95%;
        position: absolute;
        z-index: 2;
        bottom: 18%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .lead__cities {
        max-width: 1024px;
        width: 95%;
        position: absolute;
        z-index: 2;
        bottom: 18%;
    }
}