.lead__subtitle {
    max-width: 583px;
    width: 100%;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    margin: 50px auto 0px auto;
    text-align: center;
}

@media (max-width: 425px) {
    .lead__subtitle {
        max-width: 425px;
        width: 90%;
        font-size: 16px;
        line-height: 23px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .lead__subtitle {
        max-width: 768px;
        width: 90%;
        font-size: 2em;
        line-height: 1.1;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .lead__subtitle {
        max-width: 1024px;
        width: 60%;
        font-size: 2em;
        line-height: 1.1;
    }
}