.video__duration {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    margin: 10% 0px 0px 0px;
}

@media (max-width: 425px) {
    .video__duration {
        margin: 0% 0px 3% 0px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .video__duration {
        margin: 0% 0px 2% 0px;
        font-size: 0.6em;
        line-height: 1.1;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    .video__duration {
        margin: 5% 0px 2% 0px;
        font-size: 0.6em;
        line-height: 1.1;
    }

}