@import url('./__container/additional__container.css');
@import url('./__container/__item/additional__item.css');
@import url('./__container/__item/__heading/additional__heading.css');
@import url('./__container/__item/__item-bg/additional__item-bg.css');
@import url('./__container/__item/__text/additional__text.css');
@import url('./content-title/content-title.css');
@import url('./content-subtitle/content-subtitle.css');


.additional {
    max-width: 1184px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 100px 0px 0px 0px;
}

@media (max-width: 425px) {
    .additional {
        display: none;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .additional {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .additional {
        display: none;
    }
}

@media (min-width: 1025px) {
    .additional {
        display: none;
    }
}

