.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    position: absolute;
    top: auto;
    left: auto;
    margin: 0px;
    z-index: 2;
}

@media (max-width: 425px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 425px;
        width: 75%;
        top: 16%;
        text-align: center;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .cover__title {
        font-size: 2em;
        line-height: 1.1 ;
        max-width: 425px;
        width: 90%;
        top: 30%;
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .cover__title {
        font-size: 3em;
        line-height: 1.1 ;
        max-width: 425px;
        width: 90%;
        top: 30%;
        text-align: center;
    }
}


