.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;
    margin-right: 18px;
}

@media (min-width: 426px) and (max-width: 768px) {
    .footer__link {
        font-style: normal;
        font-weight: normal;
        font-size: 0.7em;
        line-height: 1.7;
        margin: 0px 12px 0px 0px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .footer__link {
        font-style: normal;
        font-weight: normal;
        font-size: 1.1em;
        line-height: 2;
        margin: 0px 12px 0px 0px;
    }
}