@import url('./__paragraph/places__paragraph.css');

.places__paragraphs {
    width: 37%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin: 60px 0px 0px 3%;
}

@media (max-width: 425px) {
    .places__paragraphs {
        max-width: 425px;
        width: 90%;
        font-size: 16px;
        line-height: 27px;
        margin: 24px auto;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .places__paragraphs {
        max-width: 768px;
        font-size: 16px;
        line-height: 27px;
        margin: 4.5% 0px 0px 3%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .places__paragraphs {
        max-width: 1024px;
        font-size: 1em;
        line-height: 1.8;
        margin: 4.5% 0px 0px 3%;
    }
}